<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/components/button/button.css" />
  <link rel="stylesheet" type="text/css" href="/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/css/default.css" />
  <link rel="stylesheet" type="text/css" href="/css/retourbeheer.css" />
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <title>EhB MediaLab Admin - Retourbeheer</title>
</head>

<body>
  <ehb-header nobasket>
  </ehb-header>

  <hamburger-menu admin></hamburger-menu>
  <main>

    <h2>Medewerker</h2>
    

    <h3>Retourbeheer</h3>
    <div id="block">
    <div class="paragraph">Naam lener</div>
    <p id="naam-lener" class="input-field"><%= data.voornaam + " " + data.naam %></p>
    <div class="form-group">
      <div class="paragraph">ID nr</div>
      <p id="id-nr" class="input-field"><%= data.uitleningID %></p>
    </div>
    

    <div class="flexbox">
      <div>
        <div class="paragraph">Naam materiaal</div>
        <p id="nom-materiel" class="input-field"><%= product.naam %></p>
        <div class="paragraph">
          <label class="paragraph checkbox-label" for="beschadigd">Beschadigd</label>
          <input type="checkbox" id="beschadigd" class="checkbox-field">
        </div>

        <input type="text" id="beschadigd-reason" class="input-field" placeholder="Reden beschadiging">

      </div>

      <div class="right-flex">

        <div class="paragraph">Geleend van:</div>
        <p id="geleend-van" class="input-field" placeholder="Geleend van"><%= data.startDatum %></p>
        
        
        <div class="paragraph">Geleend tot:</div>
        <p id="geleend-tot" class="input-field" placeholder="Geleend tot"><%= data.eindDatum %></p>
      </div>
    </div>

    <div class="buttons-container">
      <button id="btn-terug" class="btn secondary-button">Terug</button>
      <button id="btn-terugbrengen" class="btn cta-button--blue">Terugbrengen</button>
    </div>
  </div>
  </main>
  <ehb-footer></ehb-footer>
  <script src="/js/components.js"></script>
  <script src="/js/admin-retourbeheer-uitlening.js"></script>
</body>

</html>

