<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./components/button/button.css"
    />
    <link rel="stylesheet" type="text/css" href="./css/reset.css" />
    <link rel="stylesheet" type="text/css" href="./css/default.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./components/filter/filter.css"
    />
    <link rel="stylesheet" type="text/css" href="./css/catalogus.css" />
    <script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.1/dist/index.umd.min.js"></script>
    <title>MediaLab - Cataloog</title>
  </head>

  <body>
    <ehb-header></ehb-header>
    <hamburger-menu></hamburger-menu>
    <main>
      <div class="search-bar form">
        <div class="search-bar__container search-bar__search">
          <img
            class="search-bar__icon"
            src="./images/magnifying-glass.svg"
            alt="Zoeken"
          />
          <input
            id="search-bar"
            class="input"
            type="text"
            placeholder="Zoeken..."
          />
        </div>

        <div class="search-bar__container search-bar__filter" tabindex="0">
          <img
            class="search-bar__icon"
            src="./images/filter.svg"
            alt="Filters"
          />
          <button id="search-bar-btn-filter" class="search-bar__btn-filter">
            <span id="tag-filter-span" class="btn-filter__text"
              >Selecteer Tags</span
            >

            <ul
              id="selected-tags-list"
              class="btn-filter__selected-tags-list"
            ></ul>

            <img
              class="btn-filter__icon"
              src="./images/chevron-down.svg"
              alt="V"
            />
          </button>
          <ul id="tag-filter-list" class="filter__dropdown">
            <input
              id="tag-filter"
              class="input dropdown__tag-filter"
              type="search"
              placeholder="Voer tags in"
            />
            <% tags.forEach((tag) => { %>
            <li class="filter-list__item">
              <label class="dropdown__label">
                <%= tag %>
                <input type="checkbox" class="dropdown__checkbox" /><span
                  class="dropdown__checkmark"
                ></span
              ></label>
            </li>
            <% }); %>
          </ul>
        </div>
      </div>

      <input id="datepicker" class="input" placeholder="Kies een datum" />

      <div class="catalog">
        <% products.forEach((product, index) => { %>
        <div class="catalog__product">
          <img
            class="product__image"
            src="
            <%= product.afbeelding %>
            "
            alt="
            <%= product.naam %>
            "
          />

          <div class="product__content">
            <h3 class="product__title"><%= product.naam %></h3>

            <!-- TODO: Add tags to each card from DB -->
            <ul class="product__tag-list">
              <li class="product__tag">collaboration</li>
              <li class="product__tag">Gaming</li>
              <li class="product__tag">Film</li>
            </ul>

            <p class="product__availability">
              Nu beschikbaar
              <span class="availability-amount">
                <%= `(${product.aantalBeschikbaar}/${product.aantalBeschikbaar})`
                %>
              </span>
            </p>

            <div>
              <button
                id="btn-specs<%= index %>"
                class="btn secondary-button"
                data-id="<%= product.productID %>"
              >
                Specificaties
              </button>
              <button
                id="btn-add<%= index %>"
                class="btn cta-button--blue"
                data-id="<%= product.productID %>"
              >
                In uitleenmandje
              </button>
            </div>
          </div>
        </div>

        <% }); %>
      </div>
    </main>
    <ehb-footer></ehb-footer>
    <script src="/js/cataloog.js"></script>
    <script src="./js/components.js"></script>
    <script src="../public/js/cataloog.js"></script>
    <script src="./components/date-picker/date-picker.js"></script>
  </body>
</html>
