<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/components/button/button.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/default.css" />
    <link rel="stylesheet" href="/components/filter/filter.css" />
    <link rel="stylesheet" href="/css/specificatieproduct.css" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/components/catalog card/card.css" />
    <script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.1/dist/index.umd.min.js"></script>
    <title>EhB MediaLab - <%= product.naam %></title>
  </head>

  <body>
    <ehb-header></ehb-header>
    <hamburger-menu></hamburger-menu>
    <main>
      <div id="flexbox">
        <section>
          <h2 class="page__title"><%= product.naam %></h2>
          <p class="product__availability">
            Nu beschikbaar
            <span class="availability-amount"
              ><%= product.aantalBeschikbaar%></span
            >
          </p>
          <img src="/images/<%= product.afbeelding %>" alt="<%= product.naam %>" />
        </section>

        <section>
          <h3>Beschrijving en specificaties</h3>
          <p class="product__description"><%= product.specificaties %></p>

          <% if( product.voorwaarde){ %>
          <h3>Specifieke voorwaarden voor uitlening</h3>
          <p class="product.voorwaarden"><%=product.voorwaarde %> <% } %></p>

          <div class="reden">
            <br />
            <label for="reden">Selecteer de reden voor uitlening:</label><br />
            <select id="reden" name="reden">
              <option value="Les">Les</option>
              <option value="Eindwerk">Eindwerk</option>
              <option value="Project">Project</option>
              <option value="Persoonlijk Gebruik">Persoonlijk Gebruik</option>
              <option value="Andere">Andere...</option>
            </select>
          </div>

          <input
            id="datepicker"
            name="datepicker"
            class="input"
            placeholder="Kies een datum"
          />
          <button class="btn secondary-button">Ga terug</button
          ><button class="btn cta-button--blue">In uitleenmandje</button>
        </section>
      </div>
    </main>

    <ehb-footer></ehb-footer>
    <script src="/js/components.js"></script>
    <script src="/js/uitleenmandje-datepicker.js"></script>
    <script src="/js/default.js"></script>
  </body>
</html>
