<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="./components/button/button.css" />
  <link rel="stylesheet" type="text/css" href="./css/reset.css" />
  <link rel="stylesheet" type="text/css" href="./css/default.css" />
  <link rel="stylesheet" type="text/css" href="./css/reservaties.css" />
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <title>EhB MediaLab - Mijn Reservaties</title>
</head>

<body>
  <ehb-header></ehb-header>
  <hamburger-menu></hamburger-menu>
  <main>
    <h1>Mijn Reservaties</h1>

    <% if (reservations && reservations.length > 0) { %>
    <ul class="reservation">
      <li class="reservation__heading">
        <span class="reservation__title">Product</span>
        <span class="reservation__title">Gereserveerd van</span>
        <span class="reservation__title">Gereserveerd tot</span>
        <span class="reservation__title">Annuleren</span>
      </li>
      <% reservations.forEach((reservation, index) => { %>
      <li class="reservation__item reservation__line" data-id="<%= reservation.uitleningID %>">
        <span class="reservation__article--name"><%= reservation.productNaam %></span>
        <span class="reservation__article--date-from"> <%= new Date(reservation.startDatum).toLocaleDateString() %></span>
        <span class="reservation__article--date-until"><%= new Date(reservation.eindDatum).toLocaleDateString() %></span>

        <button id="btn-cancel<%= index %>" class="btn secondary-button cancel-reservation">Annuleer reservatie</button>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>U heeft nog geen reservaties.</p>
    <% } %>
  </main>
  <ehb-footer></ehb-footer>
  <script src="./js/components.js"></script>
  <script src="./js/reservaties.js"></script>
  <script src="/js/default.js"></script>
</body>

</html>