<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="/css/reset.css" />
  <link rel="stylesheet" type="text/css" href="/css/default.css" />
  <link rel="stylesheet" type="text/css" href="/components/filter/filter.css" />
  <link rel="stylesheet" type="text/css" href="/css/uitleenmandje.css" />
  <link rel="stylesheet" type="text/css" href="/components/button/button.css" />
  <link rel="stylesheet" type="text/css" href="/components/basket card/card.css" />
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <script src="https://cdn.jsdelivr.net/npm/@easepick/bundle@1.2.1/dist/index.umd.min.js"></script>
  <title>EhB MediaLab - Uitleenmandje</title>
</head>

<body>
  <ehb-header></ehb-header>

  <hamburger-menu></hamburger-menu>
  <main>
    <h1 class="page__title">Uitleenmandje</h1>
    <section class="basket">
      <ul class="basket__item-list">
        <% if (products.length === 0) { %>
        <p>Er zijn geen producten in je uitleenmandje.</p>
        <% } else { %>
        <% products.forEach((product, index) => { %>
        <li class="item-list__item" data-product-id="<%= product.productID %>">
          <img src="/images/<%= product.afbeelding %>" class="item__image" width="100" alt="<%= product.naam %>">
          <div class="item__container">
            <h3 class="item__title"><%= product.naam %></h3>
            <p class="item__quantity">Quantity: <%= product.aantal %></p>
          </div>
          <button id="btn-delete<%= index %>" class="btn tertiary-button">Verwijder</button>
        </li>
        <% }) %>
        <% } %>
      </ul>

      <div class="grid-aside">
        <div class="datepicker-container">
          <label class="label" for="datepicker">Reserveren vanaf</label>
          <input id="datepicker" name="datepicker" class="input" placeholder="Kies een datum" />
        </div>
        <div class="reden">
          <label class="label" for="reden">Waarom wilt u dit uitlenen?</label>
          <select id="reden" class="input" name="reden">
            <option value="Les">Les</option>
            <option value="Eindwerk">Eindwerk</option>
            <option value="Project">School Project</option>
            <option value="Persoonlijk Gebruik">Persoonlijk Gebruik</option>
            <option value="Andere">Andere...</option>
          </select>
          <input type="text" id="otherReason" class="input" name="otherReason" placeholder="Specificeer uw reden" />
        </div>
        <div class="buttons-container">
          <button id="terugBtn" class="btn secondary-button">Terug</button>
          <button id="btn-reserveren" class="btn cta-button--blue">
            Reserveren
          </button>
        </div>
      </div>
    </section>
  </main>
  <ehb-footer></ehb-footer>
  <script src="/js/components.js"></script>
  <script src="/js/uitleenmandje-datepicker.js"></script>
  <script src="/js/default.js"></script>
  <script src="/js/uitleenmandje.js"></script>
</body>

</html>